<div [ngClass]="(single) ? 'row':''">
    <div [ngClass]="(single) ? 'col-md-12 col-lg-6': ''">

        <div class="weather-card card border-0 mb-4" [ngClass]="weather ? 'loaded':'loading'">
            <div 
                class="card-body text-white bg-transparent p-4" 
                *ngIf="weather" [routerLink]="single ? []:['/woeid/',weather.woeid]" 
                [ngClass]="single ? 'single':'list'"
            >
                <div class="row">
                    <div class="col-md-6">
                        <div class="left">
                            <h2 class="mb-0">
                                {{ weather.title }}
                            </h2>
                            <h6 class="font-italic font-weight-light mb-4">
                                {{ weather.parent.title }}
                            </h6>
                            <h4 class="pt-4 mb-3">
                                {{ weather.consolidated_weather[0].applicable_date | date: 'EEEE' }}
                            </h4>
                            
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="right">
                            <h4>
                                {{ weather.consolidated_weather[0].weather_state_name }}
                            </h4>
                            <h6 class="small mt-3">Temperature</h6>
                            <h5 class="mb-0">
                                {{ weather.consolidated_weather[0].the_temp | number: '1.0-0' }} &deg;C
                            </h5>
                            <div class="d-flex d-flex-row justify-content-end">
                                <div class="mr-4">
                                    <p class="small mb-0">Min</p>
                                    <strong class="small font-weight-bold">
                                        {{ weather.consolidated_weather[0].min_temp | number: '1.0-0' }} &deg;C
                                    </strong>
                                </div>
                                <div>
                                    <p class="small mb-0">Max</p>
                                    <strong class="small font-weight-bold">
                                        {{ weather.consolidated_weather[0].max_temp | number: '1.0-0' }} &deg;C
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="info">
                            <div class="d-flex">
                                <div class="wicon wind mr-2"></div>
                                <div class="content">
                                    <h6 class="mb-0 font-weight-normal">
                                        Wind
                                    </h6>
                                    <div class="d-flex">
                                        <div class="mr-4">
                                            <p class="small mb-0">Speed</p>
                                            <p>
                                                {{ weather.consolidated_weather[0].wind_speed | number: '1.0-0' }} km/h
                                            </p>
                                        </div>
                                        <div>
                                            <p class="small mb-0">Direction</p>
                                            <p>
                                                {{ weather.consolidated_weather[0].wind_direction | number: '1.0-0' }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="info">
                            <div class="d-flex justify-content-end">
                                <div class="wicon humidity mr-2"></div>
                                <div class="content">
                                    <h6 class="mb-0 font-weight-normal">
                                        Humidity
                                    </h6>
                                    <div class="mr-4">
                                        <p>
                                            {{ weather.consolidated_weather[0].humidity | number: '1.0-0' }}%
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div 
                    class="icon" 
                    [ngClass]="weather.consolidated_weather[0].weather_state_abbr"
                >
                </div>
                
                <a 
                    class="btn btn-outline-light mt-3" 
                    [routerLink]="['/woeid/',weather.woeid]" 
                    *ngIf="single == false">
                    More Info
                </a>
            </div>
            <div class="loading sun" *ngIf="!weather">
                <div class="rays"></div>
            </div>
        </div>
        
    </div>


     <!-- single == 'true' info other days -->
     <ng-container *ngIf="single && weather">

     <div class="col-md-6 col-lg-3" *ngFor="let days of weather.consolidated_weather">
            <div 
                class="weather-card card border-0 mb-4" 
                [ngClass]="weather ? 'loaded':'loading'">

                    <div class="card-body text-white bg-transparent p-4" *ngIf="weather"  >
                        <div class="row">
                            <div class="col-md-6">
                                <div class="left">
                                    <h2 class="mb-0">
                                        {{ days.applicable_date | date: 'EEEE' }}
                                    </h2>                            
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <div class="right">
                                    <h4>
                                        {{ days.weather_state_name }}
                                    </h4>
                                    <h6 class="small mt-3">Temperature</h6>
                                    <h5 class="mb-0">
                                        {{ days.the_temp | number: '1.0-0' }} &deg;C
                                    </h5>
                                    <div class="d-flex d-flex-row justify-content-end">
                                        <div class="mr-4">
                                                <p class="small mb-0">Min</p>
                                                <strong class="small font-weight-bold">
                                                    {{ days.min_temp | number: '1.0-0' }} &deg;C
                                                </strong>
                                            </div>
                                        <div>
                                            <p class="small mb-0">Max</p>
                                            <strong class="small font-weight-bold">
                                                {{ days.max_temp | number: '1.0-0' }} &deg;C
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="d-flex">
                                        <div class="wicon wind mr-2"></div>
                                        <div class="content">
                                            <h6 class="mb-0 font-weight-normal">
                                                Wind
                                            </h6>
                                            <div class="d-flex">
                                                <div class="mr-4">
                                                    <p class="small mb-0">Speed</p>
                                                    <p>
                                                        {{ days.wind_speed | number: '1.0-0' }} km/h
                                                    </p>
                                                </div>
                                                <div>
                                                    <p class="small mb-0">Direction</p>
                                                    <p>
                                                        {{ days.wind_direction | number: '1.0-0' }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-6">
                                <div class="info">
                                    <div class="d-flex justify-content-end">
                                        <div class="wicon humidity mr-2"></div>
                                        <div class="content">
                                            <h6 class="mb-0 font-weight-normal">
                                                Humidity
                                            </h6>
                                            <div class="mr-4">
                                                <p>{{ days.humidity | number: '1.0-0' }}%</p>
                                            </div>
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
                        <div class="icon" [ngClass]="days.weather_state_abbr"></div>
                        
                    </div>
               
                </div>
    </div>
</ng-container>
    
</div>
