/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.weather-card{
    background: #0057a8;
    height: 350px;

    transition: all 0.6s ease;
    .card-body{
        position: relative;
        
        
        
        
        h4{
            font-size: 20px;
        }
        
        div.icon{
            position: absolute;
            left: 50%;
            top: 30px;

            z-index: 1;

            background-size: 250px 177px;

            height: 177px;
            width: 250px;
            
            transform: translateX(-50%);

            &.hc{
                background-image: url('/assets/hc.png');
            }
            &.hr{
                background-image: url('/assets/hr.png');
            }

            &.lr, &.s{
                background-image: url('/assets/lr.png');
            }
            &.c{
                background-image: url('/assets/c.png');
            }
            &.lc{
                background-image: url('/assets/lc.png');
            }

        }
    
        .wicon{
            width: 32px;
            height: 32px;

            background: url('/assets/wicons.png');
            background-size: 60px 32px;
            &.wind{
                width: 24px;

                background-position: -36px 0;
            }
            &.humidity{
                background-position: 0 0;
            }
        }
        &.list{
            cursor: pointer;
        }
    }
    &.loading{
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: shimmer;
        animation-timing-function: linear;

        background-image: linear-gradient(to left, #0057a8 0%, #0072dc 20%, #0057a8 40%, #0057a8 100%);

        background-size: 200% 100%;
    }
    &:hover{
        box-shadow: 0 0 0 4px #fff inset;
    }
    .left, .right, .info{
        z-index: 8;
        position: relative;
    }
}

  .sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    display: block;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0px 4px #fff inset;
    animation: spin 10s infinite linear;
    .rays {
        position: absolute;
        top: -2em;
        left: 50%;
        display: block;
        width: 0.375em;
        height: 1.125em;
        margin-left: -0.1875em;
        background: #fff;
        border-radius: 0.25em;
        box-shadow: 0 5.375em #fff;
      }
      .rays:before,
      .rays:after {
        content: '';
        position: absolute;
        top: 0em;
        left: 0em;
        display: block;
        width: 0.375em;
        height: 1.125em;
        transform: rotate(60deg);
        transform-origin: 50% 3.25em;
        background: #fff;
        border-radius: 0.25em;
        box-shadow: 0 5.375em #fff;
      }
      .rays:before {
        transform: rotate(120deg);
      }
  }
  

/* Animations */ 

@keyframes spin {
    100% { transform: rotate(360deg); }
  }
@keyframes shimmer {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }

  @media (max-width: 767px) {
    .weather-card{
        height: auto;
        min-height: 320px;
    }
    header{
        .form-inline{
            display: block;
            width: 80%;
            button{
                position: absolute;
                top: 0;
                right: 20px;
                top: 48px;
            }
        }
    }
  }