<div class="container-fluid">
  <div class="" *ngIf="location?.length">
      <weather [woeid]="location[0].woeid" [single]="true"></weather>
  </div>
  <div class="row" *ngIf="location?.length==0 && !loading">
    <div class="col-md-4">
        <div class="card p-4">
          <p class="mb-0">No Result on Keyword <span class="font-weight-bold">{{keyword}}</span></p>
        </div>
    </div>
  </div>
</div>

