<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">
      <i class="fas fa-umbrella"></i>
      Weather Today
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
      </div>

    </div>
    <form class="form-inline my-2 my-lg-0" (keydown.enter)="$event.preventDefault()">
      <input #search class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" (click)="goToSearch(search.value)">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </nav>
</header>
