<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" *ngFor="let city of cities">
            <weather [woeid]="city.woeid" [single]="false"></weather>
        </div>
    </div>
    
</div>
